NODE_ENV=local
PORT=4000
HOST=http://localhost

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=anggarda
DB_PASSWORD=anggarda
DB_DATABASE=feedback

REMINDER_DAYS=7

MONGO_URI=mongodb://localhost:27017/feedback

JWT_SECRET=feedback
ACCESS_TOKEN_EXPIRES=7d
REFRESH_TOKEN_EXPIRES=14d
